html {
  font-size: 10px;
}

body {
  /* width: 1900px; */
  margin: 0 auto;
  display: flex;
  font-family: 源ノ角ゴシック JP;
  font-weight: 400;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.logo {
  padding: 30px 0 30px 35px;
  margin-top: 40px;
  margin-bottom: 5px;
}

.menu {
  display: flex;
  flex-flow: column;
  font-size: 16px;
  padding: 10px 0 0 35px;
}

.menu a {
  margin-bottom: 20px;
}

.webshop a {
  display: flex;
  padding-left: 30px;
  margin-top: 150px;
}

.webshop p {
  padding: 5px 0 0 20px;
}

.toiawase a {
  width: 200px;
  display: flex;
  padding: 10px 0 0 10px;
  margin-top: 20px;
  margin-left: 22px;
  border-radius: 30px;
}

.toiawase p {
  padding: 5px 0 0 15px;
}

.toiawase a {
  background-position: 15% 50%;
  background-size: 200% auto;
  /*アニメーションの指定*/
  transition: all 0.3s ease-out;
}

/*hoverした際の、背景の場所とテキスト色の変更*/
.toiawase a:hover {
  background-position: 99% 50%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.icon a {
  margin-right: 12px;
  margin-left: 12px;
}

.search {
  display: flex;
  justify-content: center;
}

.main-content {
  width: 1660px;
  margin-left: 240px;
  width: calc(100% - 240px);
  font-size: 1.6rem;
}

.topicPath {
  grid-area: topics;
  text-decoration: none;
  background-color: black;
  color: white;
  padding-top: 8px;
  padding: 12px 0 12px 0;
  z-index: 102;
  min-height: 88px;
  top: 0;
  width: 100%;
  position: sticky;
  margin-bottom: 80px;
}

.topicPath-area {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.topicPath a {
  text-decoration: none;
  color: white;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }

  .main-content {
    width: 100%;
  }
}

footer {
  margin: 0 auto;
  margin-top: 95px;
}

.inquiry,
.toiawase a {
  background: -moz-linear-gradient(
    5.86% -33.1% -30deg,
    rgba(251, 176, 59, 1) 0%,
    rgba(234, 157, 77, 1) 4.85%,
    rgba(177, 90, 137, 1) 22.64%,
    rgba(135, 41, 182, 1) 37.58%,
    rgba(110, 11, 209, 1) 48.91%,
    rgba(100, 0, 219, 1) 55.31%,
    rgba(6, 71, 190, 1) 100%
  );
  background: -webkit-linear-gradient(
    -30deg,
    rgba(251, 176, 59, 1) 0%,
    rgba(234, 157, 77, 1) 4.85%,
    rgba(177, 90, 137, 1) 22.64%,
    rgba(135, 41, 182, 1) 37.58%,
    rgba(110, 11, 209, 1) 48.91%,
    rgba(100, 0, 219, 1) 55.31%,
    rgba(6, 71, 190, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    5.86% -33.1%,
    94.14% 133.1%,
    color-stop(0, rgba(251, 176, 59, 1)),
    color-stop(0.0485, rgba(234, 157, 77, 1)),
    color-stop(0.2264, rgba(177, 90, 137, 1)),
    color-stop(0.3758, rgba(135, 41, 182, 1)),
    color-stop(0.4891, rgba(110, 11, 209, 1)),
    color-stop(0.5531, rgba(100, 0, 219, 1)),
    color-stop(1, rgba(6, 71, 190, 1))
  );
  background: -o-linear-gradient(
    -30deg,
    rgba(251, 176, 59, 1) 0%,
    rgba(234, 157, 77, 1) 4.85%,
    rgba(177, 90, 137, 1) 22.64%,
    rgba(135, 41, 182, 1) 37.58%,
    rgba(110, 11, 209, 1) 48.91%,
    rgba(100, 0, 219, 1) 55.31%,
    rgba(6, 71, 190, 1) 100%
  );
  background: -ms-linear-gradient(
    -30deg,
    rgba(251, 176, 59, 1) 0%,
    rgba(234, 157, 77, 1) 4.85%,
    rgba(177, 90, 137, 1) 22.64%,
    rgba(135, 41, 182, 1) 37.58%,
    rgba(110, 11, 209, 1) 48.91%,
    rgba(100, 0, 219, 1) 55.31%,
    rgba(6, 71, 190, 1) 100%
  );
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBB03B', endColorstr='#0647BE' ,GradientType=0)";
  background: linear-gradient(
    120deg,
    rgba(251, 176, 59, 1) 0%,
    rgba(234, 157, 77, 1) 4.85%,
    rgba(177, 90, 137, 1) 22.64%,
    rgba(135, 41, 182, 1) 37.58%,
    rgba(110, 11, 209, 1) 48.91%,
    rgba(100, 0, 219, 1) 55.31%,
    rgba(6, 71, 190, 1) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBB03B', endColorstr='#0647BE', GradientType=1);
}

@media (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

.inquiry {
  padding-bottom: 30px;
  max-width: 1250px;
  margin: 0 auto;
}

.inquiry > div > p {
  color: white;
  font-size: 25px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 5px;
}

.inquirySection {
  display: flex;
  justify-content: center;
}

.inquiryParts {
  margin: 30px 15px;
  text-align: center;
  height: 200px;
  min-width: 280px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
}

.inquiryTitle {
  font-weight: bold;
  font-size: 28px;
  line-height: 20.63px;
  color: rgb(121, 45, 220);
  padding-top: 40px;
  padding-bottom: 10px;
}

.inquiryTel a {
  text-decoration: none;
  font-size: 45px;
  color: black;
}

.inquiryTel p {
  font-size: 19px;
}

.inquiryForm {
  margin-top: 30px;
}

.inquiryForm a {
  font-size: 25px;
  text-decoration: none;
  color: white;
  padding: 20px 40px;
  border-radius: 30px;
  background: -moz-linear-gradient(
    5.86% -33.1% -30deg,
    rgba(251, 176, 59, 1) 0%,
    rgba(234, 157, 77, 1) 4.85%,
    rgba(177, 90, 137, 1) 22.64%,
    rgba(135, 41, 182, 1) 37.58%,
    rgba(110, 11, 209, 1) 48.91%,
    rgba(100, 0, 219, 1) 55.31%,
    rgba(6, 71, 190, 1) 100%
  );
  background: -webkit-linear-gradient(
    -30deg,
    rgba(251, 176, 59, 1) 0%,
    rgba(234, 157, 77, 1) 4.85%,
    rgba(177, 90, 137, 1) 22.64%,
    rgba(135, 41, 182, 1) 37.58%,
    rgba(110, 11, 209, 1) 48.91%,
    rgba(100, 0, 219, 1) 55.31%,
    rgba(6, 71, 190, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    5.86% -33.1%,
    94.14% 133.1%,
    color-stop(0, rgba(251, 176, 59, 1)),
    color-stop(0.0485, rgba(234, 157, 77, 1)),
    color-stop(0.2264, rgba(177, 90, 137, 1)),
    color-stop(0.3758, rgba(135, 41, 182, 1)),
    color-stop(0.4891, rgba(110, 11, 209, 1)),
    color-stop(0.5531, rgba(100, 0, 219, 1)),
    color-stop(1, rgba(6, 71, 190, 1))
  );
  background: -o-linear-gradient(
    -30deg,
    rgba(251, 176, 59, 1) 0%,
    rgba(234, 157, 77, 1) 4.85%,
    rgba(177, 90, 137, 1) 22.64%,
    rgba(135, 41, 182, 1) 37.58%,
    rgba(110, 11, 209, 1) 48.91%,
    rgba(100, 0, 219, 1) 55.31%,
    rgba(6, 71, 190, 1) 100%
  );
  background: -ms-linear-gradient(
    -30deg,
    rgba(251, 176, 59, 1) 0%,
    rgba(234, 157, 77, 1) 4.85%,
    rgba(177, 90, 137, 1) 22.64%,
    rgba(135, 41, 182, 1) 37.58%,
    rgba(110, 11, 209, 1) 48.91%,
    rgba(100, 0, 219, 1) 55.31%,
    rgba(6, 71, 190, 1) 100%
  );
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBB03B', endColorstr='#0647BE' ,GradientType=0)";
  background: linear-gradient(
    120deg,
    rgba(251, 176, 59, 1) 0%,
    rgba(234, 157, 77, 1) 4.85%,
    rgba(177, 90, 137, 1) 22.64%,
    rgba(135, 41, 182, 1) 37.58%,
    rgba(110, 11, 209, 1) 48.91%,
    rgba(100, 0, 219, 1) 55.31%,
    rgba(6, 71, 190, 1) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBB03B', endColorstr='#0647BE', GradientType=1);

  transition: all 0.3s ease-out;
}

.inquiryForm a:hover {
  font-size: 100px;
  z-index: 5;
  background-position: 99% 50%;
}

.inquiryForm a {
  background-position: 15% 50%;
  background-size: 200% auto;
  /*アニメーションの指定*/
  transition: all 0.3s ease-out;
}

/*hoverした際の、背景の場所とテキスト色の変更*/
.inquiryForm a:hover {
  font-size: 26px;
  background-position: 99% 50%;
}

/*========= ページトップのためのCSS ===============*/
/*リンクの形状*/

.btn {
  /* 	position: relative; */
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  display: block;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.btn:hover img:nth-of-type(2) {
  opacity: 0;
}

.btn img:nth-of-type(1) {
  opacity: 0;
}

.btn:hover img:nth-of-type(1) {
  opacity: 1;
}

#footer {
  margin-top: 100px;
  display: flex;
  justify-content: flex-end;
}

/*リンクを右下に固定*/
#page-top {
  /*   position: fixed; */
  margin: 0 auto;
  margin-bottom: 70px;
  margin-left: 1500px;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateY(100px);
}

/*　上に上がる動き　*/

/* #page-top.UpMove{
  animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }
  to {
    opacity: 1;
  transform: translateY(0);
  }
} */

/*　下に下がる動き　*/

/* #page-top.DownMove{
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 1;
  transform: translateY(100px);
  }
} */
/*========= レイアウトのためのCSS ===============*/

#footer {
  /*   position: relative; */
  z-index: 2;
}

.sitemapbg {
  padding-bottom: 90px;
  padding-top: 50px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding-right: 25px;
  padding-left: 25px;
}

.sitemap {
  width: 1200px;
  display: grid;
  grid-template:
    "gr1 .. gr2 .. gr3 .. gr5"
    "gr1 .. gr2 .. gr4 .. gr5"
    /1fr 20px 1fr 20px 1fr 20px 1fr;
}

.smproducts {
  grid-area: gr1;
}

.smservice {
  grid-area: gr2;
}

.smcolmun {
  grid-area: gr3;
}

.smonlineshop {
  grid-area: gr4;
}

.sminquiry {
  grid-area: gr5;
}

.smc {
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.smc h2 {
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}

.smc a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 3px 0;
}

.smonlineshopcategory1 img {
  margin-left: -10px;
}

.smonlineshopcategory2 img {
  margin-left: -5px;
}

.footerband {
  display: none;

  /* 	margin-left:-240px; */
  background-color: black;
  text-decoration: none;
  color: white;
  height: 120px;
  display: grid;
  grid-template:
    "... ... ... ... ..." 15px
    "... fb1 fb2 fb3 ..." 20px
    "... ... ... ... ..."
    "... fb4 fb4 fb4 ..."
    /1fr auto auto auto 1fr;
  font-size: 1.6rem;
}

.fb1 {
  grid-area: fb1;
  border-right: 1px solid;
}

.fb2 {
  grid-area: fb2;
  border-right: 1px solid;
}

.fb3 {
  grid-area: fb3;
}

.fb4 {
  grid-area: fb4;
  text-align: center;
}

.footerband a {
  text-decoration: none;
  color: white;
  padding: 0 20px;
}

.pagetop {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("/wp-content/uploads/digitaltop.png");
  background-size: cover;
  background-position: center;
  height: 473px;
  display: flex;
  align-items: center;
}

.pagetoptitle {
  width: 1200px;
  margin: 0 auto;
}

.pagetoptitle h1 {
  font-size: 48px;
  font-weight: medium;
}

.pagetoptitle p {
  font-size: 16px;
  font-weight: regular;
  margin: 5px 0;
}

.article {
  width: 1200px;
  margin: 0 auto;
}

.articletitle {
  height: auto;
  display: flex;
  align-items: center;
  border-bottom: solid 1px;
}

.articletitlechild {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #792ddc;
}

.articletitle h2,
.lineuptitle h2,
.conditionstitle h2 {
  height: 55px;
  line-height: 60px;
  padding-left: 10px;
}

.choose {
  display: grid;
  grid-template:
    "choosegr1 ... choosegr2"
    "... ... ..." 22px
    "choosegr3 ... ..."
    / auto 20px auto;
}

.choosegr1 {
  grid-area: choosegr1;
}

.choosegr2 {
  grid-area: choosegr2;
}

.choosegr3 {
  grid-area: choosegr3;
}

.choosechild {
  width: 590px;
  height: 64px;
  border: solid 1px #792ddc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.choosechild a {
  text-decoration: none;
  color: #792ddc;
  display: flex;
  width: 590px;
}

.choosechild p {
  width: 200px;
}

.choosechild img {
  margin-left: auto;
  margin-right: 20px;
}

.lineuptitle {
  border-bottom: solid 2px #792ddc;
  width: 100%;
  margin: 50px auto 18px;
  display: flex;
  align-items: center;
}

.lineuptitle img {
  margin-right: 5px;
}

.lineup {
  height: 328px;
}

.lineupchild {
  width: 1200px;
  height: 328px;
  margin: auto;
  display: flex;
  align-items: center;
}

.lineupchild img {
  margin-right: 20px;
}

.conditions {
  width: 1200px;
  margin: 0 auto;
}

.conditionstitle {
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 20px;
}

.conditionstitle h2 {
  padding-left: 10px;
}

.conditionstitle img {
  margin-right: 5px;
}

.conditionssearch {
  display: grid;
  grid-template:
    "cc1 cs1 cs1 cs1" 56px
    "cc2 cs2 cc3 cs3" 56px
    "cc4 cs4 cs4 cs4" 56px
    "cc5 cs5 cs5 cs5" 56px
    "cc6 cs6 cc7 cs7" 56px
    "cc8 cs8 cs8 cs8" 56px
    / 200px 400px 200px 400px;
}

.cc1 {
  grid-area: cc1;
  border-radius: 10px 0 0 0;
}

.cs1 {
  grid-area: cs1;
  border-radius: 0 10px 0 0;
}

.cc2 {
  grid-area: cc2;
}

.cs2 {
  grid-area: cs2;
}

.cc3 {
  grid-area: cc3;
}

.cs3 {
  grid-area: cs3;
}

.cc4 {
  grid-area: cc4;
}

.cs4 {
  grid-area: cs4;
}

.cc5 {
  grid-area: cc5;
}

.cs5 {
  grid-area: cs5;
}

.cc6 {
  grid-area: cc6;
}

.cs6 {
  grid-area: cs6;
}

.cc7 {
  grid-area: cc7;
}

.cs7 {
  grid-area: cs7;
}

.cc8 {
  grid-area: cc8;
  border-radius: 0 0 0 10px;
}

.cs8 {
  grid-area: cs8;
  border-radius: 0 0 10px 0;
}

.conditionssearch p {
  height: 100%;
  line-height: 56px;
  padding-left: 20px;
}

.category {
  color: white;
  background-color: #792ddc;
  height: 56px;
  border: #cccccc solid 0.75px;
}

.section {
  border: #cccccc solid 0.75px;
}

.conditionsbtn {
  margin-top: 15px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.conditionsbtn a {
  text-decoration: none;
}

.resetbtn a {
  padding: 15px 25px;
  margin-right: 15px;
  color: #792ddc;
  width: 160px;
  height: 48px;
  border: solid 1px #792ddc;
  border-radius: 25px;
}

.serchbtn a {
  padding: 15px 25px;
  color: white;
  background-color: #792ddc;
  width: 272px;
  height: 48px;
  border-radius: 25px;
}

.producttop {
  display: flex;
  width: 1200px;
  margin: 80px auto;
}

.producttop h2 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.productname {
  width: 640px;
}

.relation {
  display: flex;
  background-color: #f1f3f4;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
}

.relationp {
  text-decoration: none;
  text-decoration: underline;
  margin-left: 15px;
}

.productnamesubtitle {
  font-size: 24px;
  color: #792ddc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.explanation {
  padding-bottom: 5px;
}

.productname ul {
  padding-left: 20px;
  padding-right: 10px;
}

.productname li {
  margin-bottom: 2px;
}

.partnumber {
  display: flex;
  border: #792ddc 1px solid;
  border-radius: 5px;
  width: fit-content;
  height: 24px;
  text-align: center;
  line-height: 24px;
  margin-top: 20px;
}

.pnleft {
  background-color: #792ddc;
  border-radius: 5px 0 0 5px;
  color: white;
  padding: 0 10px;
  font-size: 14px;
}

.pnright {
  font-size: 16px;
  width: 125px;
}

.tagicon {
  display: flex;
  margin-top: 15px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
}

.tagiconred {
  color: white;
  background-color: #ff0000;
  border-radius: 5px;
  padding: 0 10px;
  margin-right: 10px;
}

.tagiconorange {
  color: white;
  background-color: #ff9100;
  border-radius: 5px;
  padding: 0 10px;
  margin-right: 10px;
}

.tagicongray {
  background-color: #dedede;
  border-radius: 5px;
  padding: 0 10px;
  margin-right: 10px;
}

.productcontact {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
  padding-left: 0;
}

.productcontactleft {
  display: flex;
  align-items: center;
  width: 420px;
  height: 48px;
  text-decoration: none;
  color: #792ddc;
  border: 1px solid #792ddc;
  border-radius: 5px;
  padding: 0 15px;
}

.productcontactleft:hover {
  background-color: #792ddc;
  color: white;
}

.pcleft {
  font-size: 16px;
  margin-left: 10px;
  margin-right: 20px;
}

.pcright {
  border-radius: 50%;
  color: white;
  background-color: #792ddc;

  height: 20px;
}

.productcontactright {
  display: flex;
  align-items: center;
  width: 177px;
  height: 48px;
  text-decoration: none;
  color: white;
  background-color: #792ddc;
  border: 1px solid #792ddc;
  border-radius: 5px;
  padding: 0 13px;
  margin-left: 15px;
}

.productimg {
  margin-left: 30px;
}

.imgbig {
  margin-top: 10px;
  width: 520px;
  height: 390px;
}

.imgsmall img {
  margin-right: 10px;
}

/* タブのスタイル */
.area {
  padding-top: -40px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  /* 	background-color:#F1F3F4; */
  position: relative;
  overflow: visible;
}

.tab_class {
  width: 248px;
  height: 40px;
  background-color: #792ddc;
  border-radius: 5px;
  color: white;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  order: -1;
  margin-right: 10px;
  position: relative;
}

.tab_class img {
  position: absolute;
  right: 15px;
  top: 12px;
}

.tab_class1 {
  margin-left: 230px;
}

.active,
.tab_class:hover {
  background-color: #a371e3;
}

input[name="tab_name"] {
  display: none;
}

input:checked + .tab_class {
  background-color: #f1f3f4;
  color: #792ddc;
}

.content_class {
  display: none;
  width: 100%;
}

input:checked + .tab_class + .content_class {
  display: block;
}

.content_class {
  background-color: #f1f3f4;
  padding: 18px 0;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.content_class::before {
  content: "";
  position: absolute;
  top: 0;
  left: -240px;
  /* 幅を越えるオフセット */
  width: 1670px;
  /* 背景色を広げる幅 */
  height: 100%;
  background-color: #f1f3f4;
  z-index: -5;
}

.contentbgc {
  background-color: #f1f3f4;
}

/* アコーディオンメニューのスタイル */
.accordion {
  font-size: 24px;
  background-color: white;
  color: #792ddc;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height: 64px;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin-top: 15px;
  position: relative;
}

.accordion img {
  position: absolute;
  right: 30px;
  top: 25px;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordioncontents1c1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe {
  margin: 0 auto;
}

.signeonexplanation {
  width: 896px;
  height: 94px;
  background-color: #f2eafc;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: grid;
  grid-template:
    "... ... ... ... ..." 10px
    "... spc1 ... spc2 ..."
    "... ... ... ... ..." 0px
    "... spc3 ... spc4 ..."
    "... ... ... ... ..." 10px
    /50px auto auto auto auto;
}

.signeonexplanationchild {
  display: flex;
  align-items: center;
}

.signeonexplanationchild p {
  font-size: 19.4px;
  color: #792ddc;
  padding-left: 10px;
}

.spc1 {
  grid-area: spc1;
}

.spc2 {
  grid-area: spc2;
}

.spc3 {
  grid-area: spc3;
}

.spc4 {
  grid-area: spc4;
}

.spcsupplement {
  font-size: 16px;
  margin-bottom: 30px;
}

/* ボタンのスタイル */
.button-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.button {
  display: flex;
  align-items: center;
  padding: 4px 16px;
  margin-left: 15px;
  font-size: 12px;
  font-weight: medium;
  color: #792ddc;
  background-color: white;
}

.button img {
  display: block;
  margin: 3px;
}

.shitabutton {
  margin-top: 20px;
}

.area h2 {
  font-size: 24px;
  font-weight: normal;
  background-color: white;
  color: #792ddc;
  width: 100%;
  height: 64px;
  line-height: 64px;
  border: none;
  text-align: left;
  outline: none;
  border-bottom: solid 1px #792ddc;
}

.area h3 {
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: normal;
  color: #792ddc;
  border-bottom: solid 1px #792ddc;
  background-color: #f2eafc;
}

.area h4 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #792ddc;
}

.custom-list {
  padding-left: 15px;
  margin-right: 0;
  width: 557px;
}

.accordioncontents2c1 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.accordioncontents2c2 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
}

.contentback {
  background-color: white;
  padding: 10px 20px;
}

.optionprice {
  display: flex;
  justify-content: space-between;
}

.optionpricecontainer {
  display: flex;
  border: #999999 0.25px solid;
  margin-bottom: 20px;
}

.optionpriceleft {
  width: 200px;
  background-color: #f2eafc;
}

.optionpriceright {
  width: 350px;
}

.optionpricedata {
  border: #999999 0.25px solid;
  height: 48px;
  line-height: 48px;
  padding-left: 15px;
  font-size: 16px;
}

.specification {
  margin-bottom: 20px;
}

.specificationimage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.specificationtable {
  display: grid;
  grid-template-rows: repeat(16, 48px);
  grid-template:
    "title0 title1 content1" 48px
    "title0 title2 content2" 48px
    "title0 title3 content3" 48px
    "title0 title4 content4" 48px
    "title0 title5 content5" 48px
    "title6 title6 content6" 48px
    "title7 title7 content7" 48px
    "title8 title8 content8" 48px
    "title9 title9 content9" 48px
    "title10 title10 content10" 48px
    "title11 title11 content11" 48px
    "title17 title12 content12" 48px
    "title17 title13 content13" 48px
    "title17 title14 content14" 48px
    "title17 title15 content15" 48px
    "title16 title16 content16" 48px
    /200px 200px 1fr;
}

.specificationtitle {
  background-color: #f2eafc;
  border: #999999 0.25px solid;
  padding: 10px 20px;
}

.specificationcontent {
  border: #999999 0.25px solid;
  padding: 10px 20px;
}

.griddisplay1 {
  line-height: 220px;
}

.griddisplay2 {
  line-height: 172px;
}

.inoutdoor {
  display: flex;
  justify-content: space-between;
}

.indoor {
  width: 552px;
  margin-bottom: 20px;
}

.indoor img {
  display: block;
  margin: 20px auto;
}

.mp {
  margin-top: 20px;
}

.accordioncontents3 h3 {
  margin-bottom: 20px;
}

.accordioncontents3 p {
  font-size: 16px;
}

.lotimage {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.relationbb {
  background-color: white;
}

.relationcc {
  justify-content: space-between;
}

.relationchild {
  width: 224px;
  height: 320px;
  border: solid 0.25px #999999;
  border-radius: 15px;
}

.relationbb img {
  margin-right: 0;
}

.relationgrandchild {
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.relationchild p {
  padding: 0 15px;
  font-size: 14px;
}

.boldp {
  font-size: 16px !important;
  font-weight: medium !important;
  margin: 10px 0 !important;
}

.container-1200 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.container-1200 h3 {
  margin: 20px 0;
  font-size: 20px;
}

.lineup {
  display: flex;
  column-gap: 0%;
  padding-top: 24px;
  padding-bottom: 24px;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.main-content .container {
  max-width: 1700px;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}

.main-content .card {
  padding: 3%;
  text-align: center;
}

.main-content .card-title {
  font-size: 2.4rem;
  color: #792ddc;
  font-weight: bold;
  text-align: center;
  height: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.card-frame {
  width: 150px;
  height: 170px;
  margin: 0 auto;
}

.card-img,
.card-img-top {
  margin-top: 20px;
  margin-bottom: 25px;
}

.card-text {
  font-size: 1.6rem;
  text-align: left;
}

.container .search-query {
  margin-top: 100px;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.search-query.related-products {
  padding: 0 25px;
}

td.title {
  background-color: #792ddc;
  color: white;
  text-align: left;
  padding: 10px;
  border: 1px solid !important;
}

td label {
  padding: 10px;
}

.search-query h3 {
  margin: 15px 0;
  font-size: 20px;
}

.search-query tr {
  border: 1px solid darkgray;
}

.search-query tbody {
  border: 1px solid;
}

.button-box {
  text-align: center;
}

.search-query button {
  border-radius: 20px;
  border: 1px solid;
  padding: 10px;
  margin-top: 25px;
  margin-right: 10px;
}

button.color {
  background-color: #792ddc;
  color: white;
}

.button-box2 button {
  text-align: center;
  border-radius: 10px;
}

.button-box2 button {
  max-width: 575px;
  width: 100%;
  text-align: left;
  color: #792ddc;
  font-weight: bold;
}

/* スムーススクロール */
#page-top {
  position: fixed;
  opacity: 1;
}

/* 　サイドバー */
.webshop a p {
  margin: 0;
}

.toiawase a p {
  margin: 0;
}

/* 半導体・電子部品ページ */

#templateB h2.h2.title {
  margin: 65px 0 16px 0;
  font-size: 24px;
}

#templateB .title-icon {
  display: inline-block;
  margin-right: 12px;
}

#templateB .mv-img {
  position: relative;
}

#templateB .mv-img .text {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

#templateB .mv-img .text h2 {
  margin-bottom: 30px;
  font-size: 48px;
}

#templateB .mv-img img {
  width: 100%;
}

#templateB .card {
  max-width: 100px;
}

#templateB .search-query .lineup {
  margin-bottom: 10px;
}

#templateB .lineup {
  display: flex;
  column-gap: 0%;
}

#templateB .card {
  max-width: 100%;
}

#templateB .card-title {
  text-align: center;
}

#templateB .card-frame {
  width: 150px;
  height: 170px;
  margin: 0 auto;
}

/* 
    #templateB .search-query {
      margin-bottom: 30px;
    } */

#templateB .lineup {
  background-color: white;
}

#templateB .card {
  border: none;
}

#templateB .card-text {
  text-align: center;
  margin-top: 10px;
}

#templateB .card-frame {
  width: 100%;
  height: 100%;
}

#templateB .card-frame {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#templateB .inquiry p {
  margin-bottom: 0;
}

#templateB .topicPath {
  padding: 16px 0 16px 30px;
}

#templateB p#breadcrumbs {
  margin-bottom: 12px;
  line-height: 1.5;
  font-size: 1.4rem;
}

#templateB .topicPath h1 {
  font-size: 2.4rem;
  margin-bottom: 0;
  line-height: 1.3;
  margin-right: 20px;
}

#templateB .lineuptitle.relationtitle {
  height: 55px;
}

#templateB .lineuptitle {
  border-bottom: solid 2px #cccccc;
  width: 100%;
  position: relative;
}

#templateB .lineuptitle {
  width: 1200px;
  margin: 50px auto 24px auto;
  display: flex;
  align-items: center;
}

#templateB .lineuptitle img {
  margin-right: 5px;
  margin-bottom: 4px;
}

#templateB .lineuptitle.relationtitle h2 {
  font-size: 24px;
}

#templateB .search-query.related-products .button-box2 button {
  max-width: 590px;
  width: 100%;
  text-align: left;
  color: #792ddc;
  font-weight: bold;
  margin-top: 0;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

#templateB .search-query button {
  padding: 23px 23px 23px 25px;
}

#templateB .button-box2 button img {
  display: inline-block;
  float: none;
}

#templateB .lineuptitle.relationtitle.second h2::after {
  width: 155px;
}

#templateB .lineuptitle.relationtitle.second {
  margin-top: 70px;
}

#templateB .row.lineup .col-5 {
  height: 260px;
}

#templateB .card-text {
  text-align: center;
  margin-top: 10px;
  position: relative;
  bottom: 50px;
}

#templateB .card-text {
  font-size: 18px;
}

#templateB .card-text-box img {
  margin-left: 23px;
}

#templateB .mv {
  margin-top: 87px;
}

#templateBr .mv {
  margin-top: 101px;
}

#templateB .topicPath {
  padding: 12px 0 12px 0;
  position: fixed;
  z-index: 102;
  border-left: 1px solid white;
}

#templateB .topicPath::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10000px;
  width: 20000px;
  height: 100%;
  background-color: black;
  z-index: -5;
}

#templateB .mv-img img {
  width: 100%;
  object-fit: cover;
}

#templateB .topicPath {
  padding: 12px 0 12px 0;
  position: fixed;
  z-index: 102;
  border-left: 1px solid white;
  min-height: 88px;
}

.container-1250 {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.sidebar {
  width: 240px;
  height: 100%;
  background-color: black;
  z-index: 103;
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid white;
  font-weight: 400;
  font-size: 1.6rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.3;
}

span.breadcrumb_last {
  position: relative;
  text-decoration: underline;
}

.text h1 {
  font-size: 4rem;
  text-shadow: 2px 2px white;
}

.text p {
  font-size: 1.6rem;
  text-shadow: 2px 2px white;
}

.smonlineshopcategory2 img {
  margin-left: 0;
}

.smonlineshopcategory1 img {
  margin-left: 0;
}

#templateB .table {
  margin-top: 168px;
  display: flex;
}

.left-img {
  max-width: 322px;
  height: 242px;
}

.left-img img {
  width: 100%;
}

.table .right {
  width: 100%;
}

.table .right p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.h2 h2 {
  font-size: 2.4rem;
  width: 100%;
  border-bottom: 2px solid #792ddc;
  padding-bottom: 15px;
  margin-bottom: 24px;
}

.right .container-1250 {
  padding: 0;
}

.table .productcontact {
  margin-top: 24px;
}

#templateB .button-box2 button {
  margin-right: 0;
}

#templateB button.button-left {
  margin-right: 10px;
}

#templateB .lineuptitle.relationtitle.third h2::after {
  width: 130px;
}

#templateB .more-right img {
  margin-left: 8px;
}

#templateB .more-right {
  font-size: 14px;
  display: inline-block;
  top: 0;
  right: 0;
  margin-left: auto;
}

#templateB ul li {
  margin-bottom: 7px;
  text-indent: -1.4em;
}

#templateB ul {
  list-style-position: inside;
  font-size: 1.6rem;
}

#templateB ul li::marker {
  color: #792ddc;
  line-height: 1.6;
}

#templateB h2 {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
}

#templateB .lineuptitle {
  width: 1200px;
  margin: 50px auto 24px;
  display: flex;
  align-items: center;
  border-bottom: solid 2px #792ddc;
  width: 100%;
}

#service .lineup-box {
  display: flex;
  column-gap: 0%;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  margin-bottom: 55px;
}

.tabel-grid {
  display: grid;
  grid-template:
    "title1 value1" 1fr
    "title2 value2" 1fr
    "title3 value3" 1fr
    "title4 value4" 1fr
    "title5 value5" 1fr
    /1fr 2fr;
  font-size: 1.6rem;
  vertical-align: middle;
  grid-template-rows: max-content max-content 1fr auto;
  border: #cccccc solid 1px;
  border-left: none;
}

#templateB .title.grid-t1 {
  border-top: #cccccc solid 0.75px;
}

.grid-t1 {
  grid-area: title1;
  background-color: #f2eafc;
  border-top: none !important;
}

.grid-t2 {
  grid-area: title2;
  background-color: #f2eafc;
}

.grid-t3 {
  grid-area: title3;
  background-color: #f2eafc;
}

.grid-t4 {
  grid-area: title4;
  background-color: #f2eafc;
}

.grid-t5 {
  grid-area: title5;
  background-color: #f2eafc;
  border-bottom: none !important;
}

.grid-v1 {
  grid-area: value1;
}

.grid-v2 {
  grid-area: value2;
}

.grid-v3 {
  grid-area: value3;
}

.grid-v4 {
  grid-area: value4;
}

.grid-v5 {
  grid-area: value5;
  border-bottom: none !important;
}

.tabel-grid .title {
  background-color: #f2eafc;
  border-bottom: #cccccc solid 1px;
  border-left: #cccccc solid 1px;
  border-right: #cccccc solid 1px;
  padding: 10px 20px;
  min-height: 48px;
}

.tabel-grid .value {
  padding-left: 20px;
  min-height: 48px;
  border-bottom: #cccccc solid 0.75px;
}

.tabel-grid .value .grid-v5 {
  border-bottom: #cccccc solid 0.75px;
}

.productcontactleft {
  width: auto;
}

.productcontactleft p {
  margin-bottom: 0;
}

.sitemap h2::after {
  width: auto !important;
}

.margin {
  margin-right: 4%;
  margin-left: 4%;
}

.widht365 {
  max-width: 365px;
  width: 100%;
}

.card.left {
  height: 100%;
  display: block;
  border: none;
}

.card.left span {
  display: inline-block;
  border: 1px solid #792ddc;
  height: 30px;
  color: #792ddc;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 8px;
  padding: 6px 30px 6px 10px;
  font-size: 1.2rem;
}

.card-body {
  padding: 0;
  margin-bottom: 30px;
}

.move-box h4 {
  font-size: 1.8rem;
}

.card span.button1,
.card span.button2 {
  background: url(../img/arrow10.png);
  background-repeat: no-repeat;
  background-position: 96% 50%;
  background-size: 12px;
}

.card span.button3 {
  background: url(../img/arrow11.png);
  background-repeat: no-repeat;
  background-position: 93% 50%;
  background-size: 12px;
}

#service .move-box h4.card-title {
  color: black;
  margin-top: 14px;
  margin-bottom: 15px;
  display: inline-block;
}

#service .move-box {
  color: #792ddc;
}
.move-box .card-frame {
  width: 100%;
  height: 100%;
}

.move-box .card-title-box h4.card-title {
  color: black;
  text-align: left;
  margin-bottom: 0;
}

.move-box .widht200 {
  padding: 0;
}
.move-box .card-body.last {
  margin-right: 0px;
}

.card.left {
  padding: 0;
}

#service .card-body {
  padding-bottom: 15px;
}
.move-box　.card-body {
  padding: 0;
}
.card-img-top {
  margin-top: 0;
}

.move-box .row {
  margin: 0;
  padding: 0;
}
#service .move-box .lineup-box {
  column-gap: 4%;
}

.lineup {
  padding-top: 18px;
}

.move-box .card-title {
  font-size: 1.6rem;
}

#service .move-box .card-body {
  padding: 0;
  margin-bottom: 0;
}

#service .move-box .lineup-box {
  margin-bottom: 10px;
}

#service .move-box .card-img-top {
  margin-bottom: 20px;
}

.card-title-box {
  text-align: left;
}

.lineup-box .second {
  margin-bottom: 0;
}

.lineup-box .second .card-img-top {
  margin-bottom: 0;
}

#service .move-box .lineup-box.second {
  margin-bottom: 0px;
}

#service .move-box .lineup-box.second .card-title {
  margin-bottom: 0px;
}

#service .move-box .lineup-box.second .card-img-top {
  margin-bottom: 0px;
}

#service .move-box .lineup-box.third .card-img-top {
  margin-bottom: 0;
}

#service .move-box .lineup-box.forth .card-title {
  margin-bottom: 0;
}

#service .move-box .lineup-box.forth .card-img-top {
  margin-bottom: 0;
}

#service .move-box .lineup-box.forth {
  margin-bottom: 0;
}

.inquiryForm a {
  border-radius: 65px;
}

.inquiryForm a:hover {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 969px) {
  .footer-search {
    display: none;
  }
}

@media screen and (max-width: 968px) {
  #service .h2 h2 {
    font-size: 2rem;
    color: #792ddc;
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .footer-search {
    display: grid;
    margin: 0 auto;
    background-color: black;
    text-decoration: none;
    border-bottom: 1px solid;
  }

  #txt-search::placeholder {
    color: white;
  }

  .footer-search ul li {
    border-right: 1px solid white;
    padding: 0px 10px;
    margin-top: 18px;
    margin-bottom: 18px !important;
  }

  .footer-search ul {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    list-style: none;
    border-right: 1px solid white;
  }

  .input-group {
    align-items: center;
    justify-content: center;
  }

  #txt-search {
    height: 30px;
    max-width: 280px;
    place-items: center;
    background-color: #666666;
    border: none;
    border-radius: 5px;
    background-image: url(http://trust.navigator-of-engineering.com/wp-content/uploads/f97b2b112bb2d19d5825154f01456c1f-1.png);
    background-position: 96%;
  }

  .container-1250 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .title,
  .value {
    padding: 10px;
  }

  .tabel-grid .title {
    border-right: none;
    border-left: none;
  }

  #templateB .table {
    display: flex;
    flex-flow: column;
  }

  .main-content {
    width: 100%;
    margin: 0;
  }

  .sidebar {
    display: none;
  }

  .left-img {
    max-width: 322px;
    max-height: 210px;
    margin: 0 auto;
  }

  #templateB ul {
    font-size: 1.4rem;
  }

  .tabel-grid {
    display: grid;
    grid-template:
      "title1" 1fr
      "value1" 1fr
      "title2" 1fr
      "value2" 1fr
      "title3" 1fr
      "value3" 1fr
      "title4" 1fr
      "value4" 1fr
      "title5" 1fr
      "value5" 1fr /1fr;
    font-size: 1.4rem;
    vertical-align: middle;
    grid-template-rows: max-content max-content 1fr auto;
    border: #cccccc solid 1px;
  }

  #templateB .search-query.related-products .button-box2 button {
    margin-bottom: 10px 20px;
  }

  .table .right p {
    font-size: 1.4rem;
  }
  #service .lineup-box {
    display: flex;
    flex-direction: column;
  }

  #service .widht365 {
    width: 100%;
    max-width: 100%;
  }

  .card.left span {
    position: inherit;
  }

  .margin-50 {
    margin: 0;
  }
}

@media screen and (min-width: 1209px) {
  .title,
  .value {
    padding: 10px 20px;
  }

  .main-content p {
    font-size: 1.6rem;
    line-height: 1.6;
  }

  .main-content h2 {
    font-size: 2.4rem;
  }

  .main-content .h2 h2 {
    font-size: 4rem;
  }

  .inquiryTitle p {
    font-size: 2.8rem;
    margin-bottom: 0;
  }

  .sitemap a {
    font-size: 1.4rem;
  }

  .sitemapbg h2 {
    font-size: 1.8rem;
  }

  .footerband a {
    font-size: 1.4rem;
  }

  .footerband p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1208px) {
  .main-content h2 {
    font-size: 2.4rem;
  }

  #templateB p#breadcrumbs {
    font-size: 1rem;
  }

  #templateB .topicPath h1 {
    font-size: 1.2rem;
  }

  .title,
  .value {
    padding: 10px 20px;
  }

  .sitemap {
    width: 1200px;
    display: grid;
    grid-template:
      "gr1 .. gr2 .. gr4"
      "gr1 .. gr3 .. gr5"
      /1fr 20px 1fr 20px 1fr;
  }

  .inquirySection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .inquiryTitle {
    font-size: 2rem;
  }

  .inquiryTitle a {
    font-size: 2rem;
  }

  .inquiryForm a {
    font-size: 2rem;
  }

  .sidebar {
    display: none;
  }

  .main-content {
    margin: 0;
    width: 100%;
  }

  .sitemapbg h2 {
    font-size: 1.8rem;
  }
  .sitemap a {
    font-size: 1.4rem;
  }

  .footerband a {
    font-size: 1.4rem;
  }

  .footerband p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 969px) {
  .content-area {
    margin-bottom: 0;
  }

  .content-area p {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 968px) {
  .card-title-box {
    margin-top: 10px;
  }

  #service .card-title {
    margin-top: 0;
  }

  .topicPath {
    min-height: auto;
    margin-bottom: 0px;
  }

  .topicPath-area {
    padding: 0 20px;
  }

  .topicPath-area h1 {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .content-area {
    background-color: #f2eafc;
    padding: 20px 20px 0 20px;
  }

  .content-area .container-1250 p {
    margin-bottom: 0;
  }

  .content-area p {
    padding-bottom: 20px;
  }

  #breadcrumbs span.first {
    font-size: 1rem;
    line-height: 1.5;
  }

  .main-content h2 {
    font-size: 1.8rem;
  }

  .main-content p {
    font-size: 1.4rem;
    line-height: 1.6;
  }

  .widht365.margin {
    margin-left: 0;
    margin-right: 0;
  }

  .articletitle h2,
  .lineuptitle h2,
  .conditionstitle h2 {
    height: auto;
    line-height: 100%;
  }

  #service h4.card-title {
    margin-bottom: 0;
  }

  #service p.card-text {
    margin-top: 7px;
  }

  .sitemapbg {
    display: none;
  }

  .footerband {
    font-size: 1.2rem;
  }

  #templateB .footer-search ul li {
    text-indent: 0;
  }

  .inquiry {
    padding: 0 20px;
  }

  .content-area2 .lineup {
    margin: 0;
    padding-bottom: 0;
  }

  .content-area2 .card-body {
    margin-bottom: 0;
    padding-top: 30px;
  }

  #service .lineup-box {
    margin-bottom: 45px;
  }

  .content-area2 .lineuptitle.relationtitle {
    margin-top: 0;
  }

  .move-box h4 {
    font-size: 1.5rem;
  }

  .move-box h4.card-title {
    font-size: 1.2rem;
    height: auto;
    margin-bottom: 10px !important;
  }

  #service .content-area3 .lineup-box {
    flex-direction: inherit;
  }

  .container-1250.footer {
    padding: 0;
  }

  .inquiryTitle p {
    font-size: 1.6rem;
    margin-bottom: 0;
  }

  .inquiryTel a {
    font-size: 2.5rem;
  }
  .inquiryTitle {
    padding-top: 20px;
  }

  .inquiryTitle {
    padding-bottom: 0px;
  }

  .inquiryTel p {
    font-size: 1.3rem;
  }

  .inquiryParts {
    height: auto;
  }

  .inquiryParts.second {
    height: auto;
  }

  .inquiryForm {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 320px) {
  #service .lineup-box {
    margin-bottom: 100px;
  }

  .footer-search {
    border-bottom: 2px solid;
  }
  .inquiryForm a:hover {
    font-size: inherit;
    background-position: inherit;
  }

  #service .content-area3 .lineup-box {
    flex-direction: column;
  }

  #service .content-area3 .move-box h4 {
    margin-bottom: 0;
  }

  #service .content-area3 .card-title-box {
    margin-top: 0px;
  }

  #service .content-area3 .card-img-top {
    margin-bottom: 16px;
  }

  footer {
    margin-top: 90px;
  }
}
